.title {
    -fx-font-weight: bolder;
    -fx-font-size: 20;
    -fx-text-fill: -gradient;
}

.button {
    -fx-background-color: transparent;
    -fx-border-color: -gradient;
    -fx-border-radius: 3;
    -fx-text-fill: -gradient;
}

.button:hover,
.button:focused {
    -fx-background-color: -gradient;
    -fx-text-fill: white;

}

.mfx-list-view {
    -fx-padding: 1;
    -fx-border-width: 1.5;
    -fx-border-color: -gradient;
}

.mfx-progress-bar .bar1,
.mfx-progress-bar .bar2 {
    -fx-fill: -gradient;
}

#searchBar {
    -fx-border-color: -gradient;
}

#searchBar .floating-text {
    -fx-text-fill: -gradient;
}

* {
    -mfx-blue: #2196f3;
    -mfx-charcoal: #445055;
    -mfx-green: #4caf50;
    -mfx-onyx: #353935;
    -mfx-orange: #ff9800;
    -mfx-purple: #7a0ed9;
    -mfx-red: #EF6E6B;
    -mfx-yellow: #FFEA00;


    -mfx-text-he: rgba(0, 0, 0, 0.87);
    -mfx-text-me: rgba(0, 0, 0, 0.60);
    -mfx-text-disabled: rgba(0, 0, 0, 0.38);

    -gradient: linear-gradient(to right bottom, #36D1DC, #5B86E5);
}